.homeRoute {
    display: flex;
    flex-direction: column;
    // padding: 16px;
    position: relative;
    width: 100%;
  }
  
//   @media screen and (min-width: 728px) {
//     .homeRoute   {
//       padding: 16px 0;
//     }
//   }
  