.cartmodal{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color:black;
    flex-direction: row;
    height: 100vh;
    transition: all .8s linear;

    &__content{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__separator{
        border-bottom: thin solid rgb(196, 196, 196);
        margin: 0 20%;
        height: 0;
  
    }

    &__list{
        height: 80%;
    }

    &__subtotal{
        background-color: #fffde8;
        height:35px;
        
    }
}

@media screen and (min-width: 800px){
    .cartmodal {
        width: 350px;
        position: absolute;
        right: 0;
    }
}